<h1>Welcome to your profile <%= @user.username %><h1>
  <h2>User actions<h2>
  <a href="/myshows">My shows</a><br>
  <a href="/logout">Logout</a><br>
  <form action="/users/<%=@user.id%>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Account?">
  </form>
