<h2>Add a Show</h2>
<form action="/shows" method="POST">
  <p>Show Name: <input type="text" name="show[name]"></p><br>
  <p>Show Genre: <input type="text" name="show[genre]"></p><br>
  <input type="submit" value="Add Your Show">
</form>
