<h2> Edit Show </h2>

<form method="post" action="/shows/<%=@show.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="show[name]" value="<%= @show.name %>">
  <input type="text" name="show[genre]" value="<%= @show.genre %>">
  <input type="submit" value="Edit Show">
</form>
