<h2> Welcome to Whatcha Watchin! </h2>

<p> If you are new to our site <a href="/signup">Signup Here</a> to let us know what your watchin! </p>
<p> Otherwise, feel free to <a href="/login">Login</a> </p>
